@page
@model BetterBuys.Pages.Navigation.IndexModel
@{
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">BetterBuys</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <form class="form-inline">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 text-white">
        <div class="container" id="main-nav">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Home</a>
            <a class="navbar-brand">Clothes</a>
            <a class="navbar-brand">Books</a>
            <a class="navbar-brand">Electronics</a>
            <a class="navbar-brand">Sport</a>
            <a class="navbar-brand">Jewellery</a>
        </div>
    </nav>
</header>