/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*/////////////////// Global /////////////////////////*/
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    padding-left: 8%;
    padding-right: 8%;
    margin: 50px 0;
}

/* Navbar */
.top-nav {
    position: relative;
    min-height: 60px;
}

    .top-nav > a {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

@media screen and (min-width: 767px) {
    .top-nav > a {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}

.top-nav .nav-icons {
    position: absolute;
    align-self: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

    .top-nav .nav-icons ul {
        margin: 0;
        padding: 0;
        justify-self: end;
    }

    .top-nav .nav-icons li {
        list-style: none;
    }

    .top-nav .nav-icons a,
    .top-nav .nav-icons button {
        padding: 5px 15px 5px 5px;
    }

    .top-nav .nav-icons i,
    .top-nav .nav-icons button {
        color: black;
        font-size: 25px;
    }

.bottom-nav .nav-item {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
}

    .bottom-nav .nav-item:not(:last-child) {
        border-bottom: 1px solid lightgrey;
    }

    .bottom-nav .nav-item a {
        font-size: 20px;
        color: black;
        font-weight: 400;
    }


@media screen and (min-width: 992px) {
    .bottom-nav .nav-item {
        width: auto;
    }

        .bottom-nav .nav-item:not(:last-child) {
            border-bottom: none;
        }
}

.cart-icon-cotainer {
    position: relative;
}

.badge {
    text-align: center;
    height: 18px;
    width: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#cartCount {
    text-align: center;
    height: 22px;
    width: 22px;
    background-color: #ff0000;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: 4px;
    padding: 4px;
}

main {
    min-height: 100vh;
}

/* Footer */
footer {
    justify-content: end;
    padding-top: 40px;
    padding-bottom: 40px;
}

/*/////////////////// Home /////////////////////////*/
.search {
    width: 100%;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .search {
        width: 75%;
        margin-bottom: 0;
    }
}

.search-input {
    min-width: 80%;
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .search-input {
        width: 75%;
    }
}

.search-btn {
    width: 20%;
    background-color: #385678;
    border: none;
    color: white;
    padding: 6px 8px;
    border-radius: 5px;
    transition: background-color 0.5s;
}

    .search-btn:hover {
        background-color: #003366;
    }

@media screen and (min-width: 768px) {
    .search-btn {
        width: 10%;
        margin-right: 10px;
    }
}

.price-filter {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .price-filter {
        width: 25%;
    }
}

.carousel-item img {
    width: 100% !important;
}

.product-item {
    margin-bottom: 20px;
}

.product-item-img {
    margin-bottom: 10px;
}

    .product-item-img img {
        width: 100%;
        transition: opacity 0.7s;
    }

        .product-item-img img:hover {
            opacity: 0.5;
        }

.product-item-name {
    margin: 0;
}

.product-item-add-btn {
    text-transform: uppercase;
    width: 100%;
    color: #385678;
    background-color: transparent;
    border: 3px solid #385678;
    font-weight: 500;
    padding: 10px 0;
    transition: all 0.8s;
}

    .product-item-add-btn:hover {
        background-color: #385678;
        color: white;
    }

/*.product-detail-body-link {
    text-align: end;
}

.product-detail-ad {
    text-align: center;
    padding-top: 150px;
}


.product-detail-button {
    padding-top: 50px;
    padding-bottom: 150px;
}
*/
/*Styling for the footer*/

#followcolumn i {
    font-size: 40px !important;
    color: white !important;
}

#contact .form-control {
    width: 100%;
}

#contact #submitform {
    height: 150px;
}

/*/////////////////// Cart /////////////////////////*/
/* Empty Cart */
.empty-cart {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100px;
}

    .empty-cart p {
        margin-bottom: 30px;
    }

.cont-shipping {
    text-transform: uppercase;
    border: 3px solid #385678;
    padding: 10px;
    margin-top: 20px;
    color: #385678;
    transition: all 0.8s;
}

    .cont-shipping:hover {
        color: white;
        background-color: #385678;
        text-decoration: none;
    }


/*Cart Products*/
.cart-items {
    width: 100%;
}

@media screen and (min-width: 1025px) {
    .cart-items {
        width: 60%;
        margin-right: 50px;
    }
}

.cart-item {
    margin-bottom: 15px;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.cart-img-container {
    width: 30%;
}

    .cart-img-container img {
        width: 100%;
    }

.cart-content {
    width: 70%;
}

.cart-form {
    width: 90%;
    padding: 0 10px;
}

    .cart-form h5 {
        margin-bottom: 15px;
    }

.cart-quantity-container {
    display: flex;
    margin-bottom: 15px;
}

.cart-quantity-list {
    padding: 7px;
    margin-right: 15px;
    border: 1px solid #D3D3D3;
    background-color: white;
}

.cart-update-btn {
    text-transform: uppercase;
    color: white;
    background-color: #385678;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
    transition: background-color 0.7s;
}

    .cart-update-btn:hover {
        background-color: #003366;
    }

.cart-delete-form {
    width: 10%;
}

.cart-item-delete {
    background-color: transparent;
    border: none;
    top: 0px;
    font-size: 20px;
    color: lightgrey;
    outline: none;
}

/* Receipt */
.cart-receipt-container {
    background-color: #fafafa;
    padding: 15px;
    width: 100%;
    max-height: 420px;
}

@media screen and (min-width: 1025px) {
    .cart-receipt-container {
        width: 35%;
    }
}

.promo {
    margin-bottom: 20px;
}

    .promo input {
        margin-right: 8px;
        border: 1px solid #D3D3D3;
        width: 80%;
    }

.promo-btn {
    width: 20%;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    background-color: #385678;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.7s;
}

    .promo-btn:hover {
        background-color: #003366;
    }

.cart-receipt-container .total-price {
    margin-bottom: 15px;
    font-size: 24px;
}

.cont-to-checkout {
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 100%;
    color: white;
    background-color: #385678;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    transition: background-color 0.7s;
}

    .cont-to-checkout:hover {
        background-color: #003366;
        text-decoration: none;
        color: white;
    }

/* Advertisement */
.advertisement {
    text-align: center;
}

/*/////////////////// Checkout /////////////////////////*/
/*checkout form*/
.input-control input,
.input-control select {
    width: 100%;
    padding: 10px;
}

.checkout-subtitile {
    color: #565656;
}

input,
select {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: white;
}

.input-control {
    margin-bottom: 6%;
}

.checkout-content-wrapper {
    margin: 0 3%;
}

    .checkout-content-wrapper p {
        color: #323232;
    }

.content-checkout {
    overflow: hidden;
}

.bottom a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #323232;
}

    .bottom a:hover {
        color: lightgray;
    }

.bottom-btn {
    margin: 5% 0;
    width: 100%;
}

/*order box*/
.order-box {
    background-color: #F5F5F5;
    padding: 0 15px 15px 15px;
    height: 50%;
}

.discount-box,
.checkout-subtotal,
.checkout-delivery,
.checkout-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.checkout-subtitile-order {
    text-align: center;
    margin: 5% 0;
    color: #565656;
}

.submit-btn,
.add-btn {
    text-transform: uppercase;
    color: white;
    background-color: #385678;
    border: none;
    border-radius: 5px;
    height: 45px;
}

    .submit-btn:hover {
        background-color: #003366;
        color: white;
    }

    .order-summary {
        display: flex;
        justify-content: space-between;
        margin: 5% 0;
    }

.checkout-product-quantity {
    text-align: center;
    height: 25px;
    width: 25px;
    background-color: #385678;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -8px;
    right: -8px;
}

.promo {
    margin-bottom: 20px;
}

    .promo input {
        margin-right: 8px;
        border: 1px solid #D3D3D3;
        width: 90%;
    }

.promo-btn {
    width: 20%;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    background-color: #385678;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.checkout-condition {
    display: block;
    text-align: center;
}

.checkout-product-img {
    position: relative;
    width: 25%;
}

    .checkout-product-img img {
        width: 100%;
    }

.checkout-product-name {
    width: 50%;
    text-align: center;
}

    .checkout-product-name p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

.checkout-product-price {
    width: 15%;
}

/*/////////////////// Product Detail /////////////////////////*/
/*.add-to-cart-btn {
    text-transform: uppercase;
    color: white;
    background-color: #385678;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5%;
    width: 100%;
}

.product-detail-body-link a {
    text-decoration: none;
    color: #323232;
}

.product-detail-body-link:hover a {
    color: lightgray;
}

.product-detail {
    overflow: hidden;
    margin: 5%;
}

.detail-add-to-cart {
    margin: 5%;
}

.product-detail-image {
    justify-content: center;
}
*/