/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    color: white !important;
    font-size: 35px !important;
    font-family:Bahnschrift;

}

/*Style for the main nav*/

#main-nav a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}

#main-nav a:hover{
    color: grey;
    background-color: black;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Nav cart count */
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

#cartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    min-height: 100vh;
}
footer {
    justify-content: end;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Product */
.product-item {
    width: 21%;
    margin: 2%;
}

@media screen and (max-width: 1200px) {
    .product-item {
        width: 29%;
    }
}

@media screen and (max-width: 992px) {
    .product-item {
        width: 46%;
    }
}

@media screen and (max-width: 768px) {
    .product-item {
        width: 96%;
    }
}

/* Styles for individual product page --------------------------------*/

.product-detail-body-link {
    text-align: end;
}

.product-detail-ad {
    text-align: center;
    padding-top: 150px;
}


.product-detail-button {
    padding-top: 50px;
    padding-bottom:150px;
}

/*Styling for the footer*/

#followcolumn i{
    font-size: 25px !important;
    color: white !important;
}

#contact .form-control{
    width: 100%;
}

#contact #submitform{
    height: 150px;
}
