@page
@model BetterBuys.Pages.IndividualProduct.IndexModel

<main >
    <div class="container-fluid product-detail">
        <div class="row product-detail-body">
            <div class="col-lg-6 my-5">
                <img src="images/dummy.jpg" class="product-detail-image" />
            </div>

            <div class="col-lg-6 product-detail-body-text">
                <h4>Product Name</h4>
                <img />
                <p>$99.99</p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                    including versions of Lorem Ipsum.
                </p>
                <br />
                <br />
                <span>Quantity:</span>
                <select class="form-control d-inline w-75 ml-2"></select>
                <button type="button" class="btn btn-primary d-block my-3 px-5 w-100">Add</button>
                <br />
                <br />
                <div class="product-detail-body-link">
                    <a class="product-detail-link" href="#">Continue Shopping</a>
                </div>
                <br />
                <br />
            </div>
        </div>

        <div class="row product-detail-ad d-flex ">
            <div class="col-lg-12 my-5 ">
                <p>Advertisement</p>
            </div>
        </div>

        
    </div>
    
    <img />
    
    <h6></h6>
    <p></p>

</main>
