@model BetterBuys.ViewModels.ProductVM

<form asp-page="/Cart/Index" method="post">
    <div class="card">
        <img class="card-img-top" src="@Model.ImageUri" alt="" />
        <div class="card-body">
            <button type="submit" class="btn btn-primary">Add To Cart</button>
            <a asp-page="/Detail" asp-route-productId="@Model.Id" class="btn btn-primary">View Detail</a>
            <p class="card-text">@Model.Name</p>
            <p class="card-text">$@string.Format("{0:n2}", Model.Price)</p>
        </div>
    </div>
</form>
