@page
@model BetterBuys.Pages.ConfirmationModel
@{
}

<div class="wrapper confirmation-content">
    <h4 class="d-flex justify-content-center">Thank you for shopping at BetterBuys!</h4>    
    <a class="d-flex justify-content-center" asp-page="index">Return To Home</a>
</div>