@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="fas fa-sign-out-alt nav-link btn btn-link"></button>
        </form>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-user"></i></a>
    </li>

}
else
{
    <li class="nav-item" id="accountlogo">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-user"></i></a>
    </li>
}

