<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 text-white">
    <div class="container" id="main-nav">
        @foreach (var item in Model.ProductIndex.Categories)
        {
            <a href="#">@item.Name</a>
            <a asp-route-id="Mugs"></a>
            <a asp-route-id="T-Shirt"></a>
            <a asp-route-id="Sheet"></a>
            <a asp-route-id="USB-Memory-Stick"></a>
        }

    </div>
</nav>