@model  IndexModel

<form class="form-inline">
    <input type="text" asp-for="SearchString" />
    <input class="form-control" type="submit" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
</form>

