@model BetterBuys.ViewModels.ProductVM

<form asp-page="/Cart/Index" method="post">
    <div class="card">
        <img class="card-img-top" src="@Model.ImageUri" alt="" />
        <div class="card-body">
            <p class="card-text">@Model.Name</p>
            <p class="card-text">@Model.Price</p>
            <button type="submit">Add To Cart</button>
            <button type="reset">View Detail</button>
        </div>
    </div>
</form>