@model BetterBuys.ViewModels.ProductVM

<div class="card">
    <img class="card-img-top" src="@Model.ImageUri" alt="" />
    <div class="card-body">
        <p class="card-text">@Model.Name</p>
        <p class="card-text">@Model.Price</p>
        <form asp-page="/Cart/Index" method="post">
            <button type="submit">Add To Cart</button>
        </form>
        <a asp-page="/Product/Detail" asp-route-ID="@Model.Id">View Detail</a>
    </div>
</div>
